{% extends "base.html" %}

{% block content %}
    <h2>¿QUIENES SOMOS?</h2>
    <p>Somos la plataforma ideal para microempresarios
        y organizadores de eventos.
        Aquí puedes vender tus eventos junto con artistas, 
        asegurando una mayor visibilidad y éxito en tus 
        conciertos y festivales. Además, 
        te ofrecemos servicios adicionales de logística 
        para que no tengas que preocuparte
        por la organización.
        Si deseas vender tu evento y gestionar
        todo de manera sencilla,
        regístrate ahora y empieza a conectarte
        con tu público.</p>
{% endblock %}
