<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agregarevento.css') }}" alt="fondo">
    
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/info">Eventos</a>
    </nav> 
    <h1>Agregar Nuevo Evento</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <label for="nombre">{{ form.nombre.label }}</label>
        {{ form.nombre }}

        <label for="fecha">{{ form.fecha.label }}</label>
        {{ form.fecha }}

        <label for="hora">{{ form.hora.label }}</label>
        {{ form.hora }}

        <label for='tiquetes'>{{ form.tiquetes.label }}</label>
        {{ form.tiquetes(class="form-control") }}
        
        <label for="precio">{{ form.precio.label }}</label>
        {{ form.precio }}

        <label for="ubicacion">{{ form.ubicacion.label }}</label>
        {{ form.ubicacion }}

        <label for="descripcion">{{ form.descripcion.label }}</label>
        {{ form.descripcion }}

        <button type="submit">Agregar Evento</button>
    </form>
</body>
</html>
