<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"alt="fondo">
</head>
<body>
    <header>
        <h1>Mi Web</h1>
        <img src="{{ url_for('static', filename='img/fondo.jpg') }}" alt="Logo" class="logo">
        <nav>
            <a href="/">Inicio</a>
            <a href="/about">Acerca de nosotros</a>
            <a href="/registro">Registro</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
