<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"alt="fondo">
</head>
<body>
    <header>
        <h1>Festify</h1>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </header>
    <h3>Menu</h3>
    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca de nosotros</a>
        <a href="/registro">vende tu evento</a>
        <a href="/cliente/login">compra boletos</a>
    </nav>
    <img src="{{ url_for('static', filename='img/fondo1.jpg') }}" alt="Logo" class="logo">
    
</body>
</html>
