<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mensaje.css') }}">
    <script src="{{ url_for('static', filename='js/mensaje.js') }}"></script>
</head>
<body>

    <h1>Registrate</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <p>{{ form.name.label }} {{ form.name() }}</p>
        {% for error in form.name.errors %}
            <small style="color:red;">{{ error }}</small>
        {% endfor %}

        <p>{{ form.email.label }} {{ form.email() }}</p>
        {% for error in form.email.errors %}
            <small style="color:red;">{{ error }}</small>
        {% endfor %}

        <p>{{ form.password.label }} {{ form.password() }}</p>
        {% for error in form.password.errors %}
            <small style="color:red;">{{ error }}</small>
        {% endfor %}

        <p>{{ form.submit() }}</p>
    </form>

</body>

<nav>
    <a href="/">Inicio</a>
    <a href="/login">Iniciar Sesión</a>
</nav>
</html>
