<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- para responsive -->
    <title>Eventos Disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente/eventosclientes.css') }}">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
    
    </nav>
    <h1>Eventos Disponibles</h1>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% if eventos %}
        <div class="eventos-lista">
            {% for evento in eventos %}
                <div class="evento-item">
                    <h3>{{ evento['nombre'] }}</h3>
                    <p><strong>Fecha:</strong> {{ evento['fecha'] }}</p>
                    <p><strong>Hora:</strong> {{ evento['hora'] }}</p>
                    <p><strong>Ubicación:</strong> {{ evento['ubicacion'] }}</p>
                    <p><strong>Descripción:</strong> {{ evento['descripcion'] }}</p>
                    <p><strong>Tiquetes:</strong> {{ evento['tiquetes'] }}</p>
                    <p><strong>Precio:</strong> {{ evento['precio'] }}</p>
                    <a class="boton-comprar" href="{{ url_for('comprar_tiquetes', evento_id=evento['id']) }}">Comprar</a>
                </div>
            {% endfor %}
    </div>
{% else %}
    <p>No hay eventos disponibles.</p>
{% endif %}


</body>
</html>
