<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- para responsive -->
    <title>Registro Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente/registrocliente.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <h1>Registro Cliente</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.nombre.label }} {{ form.nombre }}</p>
        <p>{{ form.correo.label }} {{ form.correo }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.submit }}</p>
    </form>

    <nav>
        <a href="/">Inicio</a>
        <a href="/cliente/login">Ya tengo cuenta</a>
    </nav>

</body>
</html>
