/* General */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: rgb(8, 1, 1);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Logo */
.logo {
    width: 750px;
    height: auto;
    border-radius: 10%;
}

/* Navegación */
nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffdd57;
}

/* Contenido principal */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background: #222;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}
